/* Rating Star Widgets Style */
 .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }

  .top-buffer {
    margin-top: 1em;
  }

  .content-wrapper {
    background-color: #F9F9FA;
  }


 .error-toast {
  width:120px;
  height:20px;
  height:auto;
  position:absolute;
  left:50%;
  margin-left:-60px;
  bottom:100px;
  background-color: #929292;
  color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
  text-align:center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
