<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Show User</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark">
    <div class="container" >
            <!-- Example DataTables Card-->
        <div class="card">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table 
            <button id='addBtn' class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus"></i></button> 
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-center" >ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove</th>
                </tr>
                </tfoot>
                <tbody>

                {{#each users as |user userId| }}
                    <tr >
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td width="15%" class= "text-center" > 
                            <span><button id="{{user.id}}" class="btn btn-danger btn-rounded btn-sm" >Remove</button> </span>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
      <!-- add User -->
    <div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">ADD USER</h4>
             <button type="button" class="float-right close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
           <form action="/add" method="POST">
             <div class="form-group">
                  <label for="exampleInputEmail1">id</label>
                  <input class="form-control" id="id" type="text" aria-describedby="id" placeholder="Enter id" name="id">
                </div>
               <div class="form-group">
                 <label for="exampleInputPassword1">Name</label>
                 <input class="form-control" id="name" type="name" placeholder="Enter fullname" name="name">
               </div>
               <input class="btn btn-primary btn-block"  value="Create" id="submit" readonly> 
             </form>
           </div>
          {{!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> --}}
         </div>
      
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            var trs = null
            $('.btn-danger').click(function(){
                trs = this
                $.post('/deleteUser',{
                    id: $(this).attr('id')
                }).done(function(res){
                    if(res){
                        $(trs).closest("tr").remove()
                    }
                })
            })

            $('#submit').click(function(){
                nid = $('#id').val()
                nname = $('#name').val()
                if (nid !== "" && nname !== ""){
                    $.post('/addUser',{
                    id: nid,
                    name:nname
                     }).done( function (res){
                        if(res.error){
                            alert(res.error)
                        } else {
                            $('#dataTable > tbody').after(
                            '<tr>                \
                            <td>'+ nid  + '</td> \
                            <td>'+ nname+ '</td> \
                            <td width="15%" class= "text-center" > \
                                <span><button id="'+ nid +'" class="btn btn-danger btn-rounded btn-sm" >Remove</button> </span> \
                            </td> \
                            </tr> ')
                            
                        }

                    })
                }

                
            })

        });
    </script>
</body>

</html>